.nav {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10vw;
}

.nav .nav__logo-wrapper {
    width: 120px;
}

.nav .nav__logo-wrapper .logo {
    width: 100%;
}

.nav .nav__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.nav .nav__links .link-wrapper {

}

.nav .nav__links .link-wrapper .link {
    cursor: pointer;
}

.nav .nav__links .link-wrapper .link:hover {
    text-decoration: underline;
}